@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/pages/Calendar.css */
.calendar-container {
    background-color: #f5f7fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}